.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(140deg,#325058,#78a6b1)
}

.container{
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
form input{
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: #E0E0E0;
  margin: 2px;
  border-radius: 10px;
  color: #001F3F;
  font-weight: bold;
}